<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="RRP_Robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import RRP_Robot urdf file -->
    <xacro:include filename="$(find mybot_description)/urdf/vinerobot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="RRP_Robot.ros2_control.xacro" />


    <xacro:RRP_Robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
